body {
  padding-top: 5px;
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 헤더 */
header{
  height:70px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.header_name{
  margin: 15px;
  margin-left : 30px;
  float: left;
  font-size: 30px ;
  color: white;
}

/* footer */
footer{
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/* 메인 div를 나누기 위한 것. */
.box1{
  float: left;
  width: 550px;
  padding:10px;
  margin:10px;
}

.box2{
  display: inline-block;
  width: 35%;
  padding:10px;
  margin:10px;
  margin-left: 30px;

}

/* box2안의 이미지와 입력폼에 관한 css */
.alert_image{
  width:100%;
}

.col-lg-6{
  margin-top: 10px;
  width:100%
}